= simple_form_for bulletin, html: { novalidate: 'novalidate', multipart: true, data: { turbo: false } } do |f|
  = f.input :title,
    required: true,
    maxlength: true,
    hint: build_field_length_hint(Bulletin, :title)

  = f.input :description,
    required: true,
    maxlength: true,
    hint: build_field_length_hint(Bulletin, :description),
    label_html: { class: 'mt-3' }

  = f.association :category,
    required: true,
    label_html: { class: 'mt-3' }

  - if bulletin.image_attachment
    = image_tag bulletin.image.variant(resize_to_limit: [200, 100]), class: 'img-thumbnail mb-2'

  = f.input :image,
    as: :file,
    required: true,
    label_html: { class: 'mt-3' },
    wrapper: :filepond_file

  = f.button :submit, class: 'btn-primary mt-4'
