.card-title {
  min-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
}
  
.card-body {
  display: flex;
  flex-direction: column;
}

.card-subtitle {
  margin-top: auto;
}

.filepond--label-action {
  color: #007bff;
  font-size: 1rem;
}
  
.filepond--panel {
  border-radius: 8px;
  // border: 2px dashed #007bff;
}

.filepond--panel-root {
  background-color: transparent !important;
}

.filepond--root {
  max-height: 400px;
  min-height: 100px;
}

@media (max-width: 768px) {
  .filepond--root {
    max-height: 300px;
  }
}